<div class="col-md-6 hola">
  <h2> Listado Jugadores</h2>

  <table class="table table-striped table-player">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nombre</th>
        <th>Año de nacimiento</th>
        <th>Pie</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pl of player">
        <td class="hidden">{{pl.id}}</td>
        <td>{{pl.name}}</td>
        <td>{{pl.foot}}</td>
        <td>{{pl.bornYear}}</td>
        <td>{{pl.id}}</td>
        <td><button class="btn btn-danger" (click)="deletePlayer(pl)"> Delete Player</button></td>
        <td><button (click)="editPlayer(pl)"></button> </td>
      </tr>
    </tbody>
  </table>
</div>