.mainContainer{
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fimg-estaticos.atleticodemadrid.com%2Fsystem%2Ffile5s%2F52511%2Fmedium2x2%2FZFkkE42CsR_tifo_1.jpg%3F1549726261&tbnid=WHAzE87hOzufuM&vet=12ahUKEwjHytCgmbP-AhWLrycCHcJiBnwQMygDegUIARDYAQ..i&imgrefurl=https%3A%2F%2Fwww.atleticodemadrid.com%2Fnoticias%2F68-000-banderas-tineron-de-rojiblanco-el-wanda-metropolitano&docid=TH9pGFD3orHWIM&w=600&h=360&q=wanda%20metropolitano%204k%20tifo&ved=2ahUKEwjHytCgmbP-AhWLrycCHcJiBnwQMygDegUIARDYAQ");
    width: 250;
    height: 100px;
    background-repeat: no-repeat;  
}